.ancho{
    width: 50%;
  }

  .small-input {
    height: 40px;
    border-radius: 18px;
    border-width: 1px;
    border-color: #ccc;
  }

  .input-icon {
    position: absolute;
    right: 20px; /* Ajusta la posición del ícono */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999; /* Color del ícono */
    pointer-events: none; /* Asegura que el ícono no interfiera con los clics */
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .table {
    /*border: 2px solid hsl(219, 89%, 59%);*/
    border-radius: 8px;
    overflow: hidden;
    border: none !important;
  }
.activo {
  background-color: #d4edda; /* Verde claro */
  color: hsl(226, 70%, 60%); /* Verde oscuro para el texto */
}

.inactivo {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24; /* Rojo oscuro para el texto */
}

.acciones-contenedor {
  display: flex;
  align-items: center;
  gap: 20px; 
}


  /* Estilos generales para el botón de agregar */

  .botones {
    width: 100%;
    text-align: center;
  }
  
  .separar {
    padding: 3%;
    display: inline-block;
    cursor: pointer;
  }
  
  .titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    color: #333333;
  }
  
  .boton {
    color: hwb(0 100% 0%) !important;
    font-size: 16px; /* Ajustado para hacerlo más pequeño */
    font-weight: 500;
    padding: 0.3em 1em; /* Ajustado para hacerlo más pequeño */
    background: #318aac;
    border: 2px solid;
    border-color: hsl(214, 59%, 45%);
    position: relative;
    padding-right: 5px;
  }
  
  .boton:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  
  .boton:hover:before {
    width: 100%;
  }
  
  .green-text {
    color: hsl(159, 8%, 53%);
    font-weight: 700;
  }
  
  .boton {
    background-color: hsl(204, 100%, 14%);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px 15px; /* Ajustado para hacerlo más pequeño */
    transition: all 0.3s;
  }
  .custom-header-blue {
    background-color: hsl(219, 89%, 59%); /* Azul */
    color: white; /* Texto blanco */
  }
  
  .boton-redondeado {
    border-radius: 5px; /* Borde redondeado */
  }
  
  .boton-chico {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    padding: 5px 10px; /* Padding más pequeño */
  }
  
  /* Estilos para la barra de búsqueda */
  .ancho {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 45%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #aaa;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .small-input {
    padding-left: 35px; /* Espacio para el ícono */
  }
  
  .small-input:focus + .search-icon,
  .small-input:hover + .search-icon {
    transform: translateY(-60%) scale(1.7);
    color: hsl(236, 100%, 14%);
  }
  
  .bi {
    padding-right: 10px;
  }
  .yellow-button {
    background-color: #FFEB3B !important; /* Color amarillo */
    color: black; /* Texto negro */
  }
  
  .green-button {
    background-color: hsl(244, 39%, 49%) !important; /* Color verde */
    color: white; /* Texto blanco */
  }