<h2 mat-dialog-title class="dialog-title">Agregar Nuevo Hotel</h2>

<form #hotelForm="ngForm" (ngSubmit)="guardarHotel()">
  <mat-dialog-content>
    <div class="input-container">
      <mat-form-field class="custom-input">
        <mat-label>Nombre del hotel</mat-label>
        <input matInput name="nombre_hotel" [(ngModel)]="nuevoHotel.nombre_hotel" required>
      </mat-form-field>

      <mat-form-field class="custom-input">
        <mat-label>Estrellas</mat-label>
        <input matInput type="number" name="estrellas" [(ngModel)]="nuevoHotel.estrellas" required>
      </mat-form-field>
    </div>
    <div class="input-container">

    <mat-form-field class="custom-input">
      <mat-label>Dirección</mat-label>
      <input matInput name="direccion" [(ngModel)]="nuevoHotel.direccion" required>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>Descripción</mat-label>
      <textarea matInput name="descripcion_hotel" [(ngModel)]="nuevoHotel.descripcion_hotel" required></textarea>
    </mat-form-field>
  </div>

    <mat-form-field class="custom-input">
      <mat-label>Sitio Turístico</mat-label>
      <mat-select name="id_lugar" [(ngModel)]="nuevoHotel.id_lugar" required>
        <mat-option *ngFor="let lugar of lugares" [value]="lugar.id_lugar">
          {{ lugar.nombre_lugar }} 
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <label for="imagen">Imagen del hotel:</label>
      <input type="file" id="imagen" (change)="onFileSelected($event)" accept="image/*" required>
    </div>

    <div *ngIf="imagenSeleccionada">
        <h4>Vista previa de la imagen:</h4>
        <img [src]="imagenSeleccionada" class="image-preview">
      </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button type="submit" [disabled]="!hotelForm.valid" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</form>
