
.mat-sidenav-container {
    height: 100%;
  }
  
  /* Estilo para la barra lateral */
  .mat-sidenav {
    width: 280px; /* Ancho de la barra lateral */
    background-color: #343A40; /* Color gris pizarra */
    color: white; /* Color del texto en la barra lateral */
}

  /* Estilo para los elementos activos del menú */
  .mat-nav-list button.active {
    background-color: #d17600; /* Naranja más oscuro para el elemento activo */
  }
  
  /* Estilo para el contenido principal */
  .mat-sidenav-content {
    padding: 20px; /* Espaciado interior del contenido principal */
  }
  
  .texto-blanco {
    color: white;
  }
  
 .mat-nav-list button {
    margin-bottom: 10px;
    color: #CCCCCC; /* Color de texto predeterminado */
    font-size: 16px;
    font-family: sans-serif;
    transition: color 0.3s ease; /* Transición suave del color durante 0.3 segundos */
  }
  
.mat-nav-list button:hover {
    color: #FD9727; /* Cambia a color naranja cuando el ratón está sobre el botón */
  }
  
/* styles.css o tu-archivo.component.css */
.hover-orange:hover {
    background-color: #61606060;
    color: white; /* Cambia el color del texto si es necesario para mejorar la legibilidad */
    text-align: left;
  }
 

  .button-text {
    margin-left: 10px; /* Ajusta según sea necesario */
  }
  
  .mat-menu-item {
    width: 100%;
    text-align: left;
    color: #CCCCCC;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin-top: 4%;
    border-radius: 0%;
  }

  .transparent-button {
    border: none;
    background-color: transparent;
    color: #CCCCCC;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4%;
    border-radius: 0%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 30px; /* Ajusta el margen izquierdo del texto */
    padding-top: 8px;
    padding-bottom: 8px;
    height: 40%;
    
  }
  
  .transparent-button mat-icon {
    margin-right: 10px;
  }
  
  .transparent-button:hover {
    /* Estilos adicionales al pasar el mouse sobre el botón, si es necesario */
  }

  .mat-sidenav a {
    text-decoration: none;
  }
  
  /* En tu archivo CSS */
.transparent-button.active {
  color: #ffffff; /* Cambia el color de texto cuando está activo */
  background-color: #9696964d; /* Cambia el color de fondo cuando está activo */
}
